<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body style="background-color: rgb(255, 255, 255);">

    <h1>To-do</h1>

    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" name="Create Task">
    </form>

    {% for task in tasks %}
        <div>
            <a href="{% url 'update_task' task.id %}">Update</a>
            <a href="{% url 'delete' task.id %}">Delete</a>

            {% if task.complete == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {%  endif %}
        </div>
    {% endfor %}

</body>
</html>

